<tr>
  <td><%= link_to post.title, authors_post_path(post) %></td>
  <td> </td>
  
  <%-# added 10/26 per video 7 -%>

  <% if post.published? %>
    <td><%= link_to 'Unpublish', unpublish_authors_post_path(post), method: :put %> </td>
  <% else %>
    <td><%= link_to 'Publish', publish_authors_post_path(post), method: :put %> </td>
  <% end %>

  <td><%= link_to 'Edit', edit_authors_post_path(post) %> </td>

  <td><%= link_to 'Remove', authors_post_path(post), method: :delete, data: {
    confirm: 'Are you sure?'} %> </td>
</tr>