<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>
<div>
<%= link_to 'Edit', edit_authors_post_path(@post) %>
<%= link_to 'Remove', authors_post_path(@post), method: :delete, data: {
  confirm: 'Are you sure?'} %>
</div>
<div class = "row">
  <div class = "col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @post.title %> </h1>
    <td><%= image_tag @post.banner_image_url %></td>
    <p><%= @post.display_day_published %></p>
    <%= @post.body.html_safe %>
</div>
</div>